{% extends 'base.html' %}
{% block content %}
{% load static %}

{#{% include 'social/preloader.html' %}#}
{##}
{#{% include 'social/navbar.html' %}#}

{#<link rel="stylesheet" href="{% static 'css/base.css' %}">#}
{% load crispy_forms_tags %}

<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
<!-- Custom stylesheet -->
<link rel="stylesheet" href="{% static 'css/signin.css' %}">

<br>

<br>
	<div class="container">
		<form class="form-signin" enctype="multipart/form-data" method="POST">
			<h2 class="displayy text-center">[̲̅V][̲̅i][̲̅t][̲̅b][̲̅o][̲̅o][̲̅k]</h2>
			<br>
			{% csrf_token %}

			{% comment %} <div class="text-center"><img class="mb-4" src="/static/images/logo.png" alt="" width="72"
					height="72"></div> {% endcomment %}
			<!-- <h1 class="h3 mb-3 font-weight-normal text-center">Please sign up</h1> -->

			{{form | crispy}}<br>
			<p class="text-break font-small safe text-muted">You can only access Vitbook using the email eddress provided by <b>VIT</b></p>

			<button class="hide">
				<input type="hidden">
					<a class="btn btn-primary btn-md active" id="check" role="button" aria-pressed="true">Sign	up</a>
				</input>
			</button>
			<p class="text-break font-small safe text-muted">By Signing up, you agree to our <b>Terms</b> and <b>Privacy Policy.</b></p>

			<hr>
			<div class="text-center">
				<div class="text-left">
					<p class="font-weight-light">Already have an account?</p>
					<input type="hidden"><a href="/accounts/login/" class="btn btn-primary active" role="button"
						aria-pressed="true">Sign in</a></input>
				</div>
			</div>

		</form>
	</div>

	<script>
        function validate(e) {
            const email = document.querySelector('#id_email');
            if (email.value.endsWith("vitbhopal.ac.in")) {
                email.style.border = "solid green 2px";
                email.style.boxShadow = "4px solid";
                document.getElementById("check").style.visibility = "visible";
                console.log("Right");
            } else {
                email.style.border = "solid red 2px";
                email.style.boxShadow = "2px";
                document.getElementById("check").style.visibility = "hidden";
                console.log("Please enter email address provided by VIT")
            };
        }

        const email1 = document.querySelector('#id_email');

        document.getElementsByName('email')[0].placeholder='Enter VIT email id.';
        document.getElementsByName('username')[0].placeholder='Username';
        document.getElementsByName('password1')[0].placeholder='Password';
        document.getElementsByName('password2')[0].placeholder='Confirm password';

        email1.addEventListener('change', validate);
        email1.addEventListener('click', validate);

    </script>

	{% endblock %}
{##}
{##}
{#{% include 'social/Bootstrap_modal.html' %}#}
{##}
{#{% include 'social/footer.html' %}#}
{##}
