.container.text-center > h1{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
    text-align: left;
}

p.cont, div.col-md-4 > h2 > em{
    font-family: 'Times New Roman', Times, serif, monospace;
}
div > h1{
    font-family: 'Times New Roman', Times, serif;
}
.hd-txt{
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: blue;
}

div.container.other-{
    margin: 30px;
}
.row.other > p{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(max-width: 725px)
{
    img.card-img{
        width: 80%;
        height: 50%;
    }
}
