div{
    margin: 10px;
}
a#link{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
div#first{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(219, 219, 219) ; 
    padding-left: 10px;
}
div#first > img{
    border-radius: 50%;
    padding-right: 3px;;
}
 div.co{
    margin-top: 10px;
    border: 1px solid ;
    border-color: rgb(219, 219, 219) ;  
    border-radius: 15px;
    /* background-color: #7f0000; */
}
div.code > h3{
    padding: 20px;
    padding-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: blanchedalmond;
    /* font-size: xx-large; */
}
code.text-left{
    color: rgb(50, 230, 50);
}
div.container.code{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(9, 119, 9);
    border-radius: 15px;
}