{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
    figure > img{
        width: 100%;
    }
    </style>
    <div class="container">
    <p>Here you'll get the details of no. of classes you have attended, days left,
        min holidays you can have, etc.</p>
    <p>Will be launched when the college reopens <b>\_(-_-)_/ </b> </p>
        <figure class="image">
          <img src="https://cdn.dribbble.com/users/1512427/screenshots/6201637/02.png">
        </figure>
    </div>
{% endblock %}