{% extends 'base.html'%}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

		<div class="container">
			<div class="text-left">

			<h1 class="myhead2" style="font-style: inherit;font-family: initial;">Post Detail</h1>

            <hr>
                {% if mypost.pic %}
                    <div class="col-md-12 container">
                        <img class="img-thumbnail" src="/images/{{mypost.pic}}" alt="Picture"
                        style="height: auto;width: auto;min-height: 300px"/>
                    </div>
                {% endif %}
				
				<div class="col-md-12">
					<div class="container text-left text-break box2 m-0 mt-2">
						<h3 class="text-muted mb-2">Post Detail :- </h3>
						<p><la class="font-weight-normal">Uploaded by :</la> <b>{{mypost.uploaded_by}}</b></p>
						<p><la class="font-weight-normal">Caption :</la> {{mypost.subject}}</p>
						<p><la class="font-weight-normal">Description :</la> {{mypost.msg}}</p>
						<p><la class="font-weight-normal">Date :</la> {{mypost.cr_date | date:"F d, Y"}}</p>
					</div>
					

					<div class="container text-right m-3 mr-0">
						{% if user.is_superuser %}
						<a href="{% url 'postDelete' mypost.id %}"><button
								class="btn btn-danger m-2 btn-md">Delete</button></a>
						{% endif %}

						{% if request.user == mypost.uploaded_by.user %}
						<a href="{% url 'postDelete' mypost.id %}"><button
								class="btn btn-danger m-2 btn-md">Delete</button></a>
						{% endif %}
						
						<a href="{% url 'postList' %}"><button class="btn btn-primary btn-md">Back</button></a>
					</div>

				</div>
			</div>

		</div>

{% endblock %}
