{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<style>
	.myhead2{
		font-family: 'Times New Roman', Times, serif;
		text-decoration: solid;
	}
</style>
<main class="p-2">

<div class="row">

	<div class="col-md-12 offset-sm-3">

	<h1 class="myhead2">New Project</h1>
		<hr>

		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{{form | crispy}}
			<input class="btn btn-dark my-3" type="submit" />
		</form>

	</div>

</div>

</main>
{% endblock %}
