
<!-- =========================================
                         PAGINATIONS
        ========================================= -->

<div class="container">
    <div class="col-md-6 offset-3">
        {% if is_paginated %}

        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

        {% endif %}
    </div>
</div>
{##}
{#<!-- <div class="col-md-6 offset-3">#}
{#            {% if is_paginated %}#}
{#    #}
{#            {% if blg.has_previous %}#}
{#            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>#}
{#            <a class="btn btn-outline-info mb-4" href="?page={{ blg.previous_page_number }}">Previous</a>#}
{#            {% endif %}#}
{#    #}
{#            {% for num in blg.paginator.page_range %}#}
{#            {% if blg.number == num %}#}
{#            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>#}
{#            {% elif num > blg.number|add:'-2' and num < blg.number|add:'2' %}#}
{#            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>#}
{#            {% endif %}#}
{#            {% endfor %}#}
{#    #}
{#            {% if blg.has_next %}#}
{#            <a class="btn btn-outline-info mb-4" href="?page={{ blg.next_page_number }}">Next</a>#}
{#            <a class="btn btn-outline-info mb-4" href="?page={{ blg.paginator.num_pages }}">Last</a>#}
{#            {% endif %}#}
{#    #}
{#            {% endif %}#}
{#        </div> -->#}
{##}
{##}
{#<!-- <div class="col-md-6 offset-3">#}
{#    <div class="pagination">#}
{#        <span class="step-links">#}
{#            {% if blg.has_previous %}#}
{#            <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a class="btn btn-outline-info mb-4">#}
{#            <a class="btn btn-outline-info mb-4" href="?page={{ blg.previous_page_number }}">previous</a>#}
{#            {% endif %}#}
{##}
{##}
{#            {% if blg.has_next %}#}
{#            <a class="btn btn-outline-info mb-4" href="?page={{ blg.next_page_number }}">next</a>#}
{#            <a class="btn btn-outline-info mb-4" href="?page={{ blg.paginator.num_pages }}">last &raquo;</a>#}
{#            {% endif %}#}
{#        </span>#}
{#    </div>#}
{#</div> -->#}
